[submodule "support/libdft"]
	path = support/libdft
	url = https://git.cs.vu.nl/r.vermeulen/libdft.git
[submodule "support/byte-unixbench"]
	path = support/byte-unixbench
	url = git@github.com:m000/byte-unixbench.git
	branch = provbench
